---
// import SunSwitchTheme from "@/components/SunSwitchTheme/SunSwitchTheme.astro";
import MoonSwitchTheme from "@/modules/theme/MoonSwiitchTheme/MoonSwitchTheme.astro";
---

<div class="absolute bottom-16 right-16 cursor-pointer">
  <!-- <SunSwitchTheme class="text-white w-12 h-12" /> -->
  <MoonSwitchTheme class="text-white w-12 h-12" />
</div>
