---
interface buttonCardProps {
  link: string;
  id: string;
  text: string;
}

const { link, id, text } = Astro.props as buttonCardProps;
---

<a
  href={link}
  class="rounded-md bg-primary/30 p-2 transition-all hover:scale-105 hover:bg-primary/50"
  target="_blank"
  rel="noopener"
  type="button"
  id={id}
>
  {text}
</a>
