---
//TODO: Usar el componente de imagen de astro
import { Image } from "astro:assets";

import HagalRune from "@/assets/icons/HagalRune.astro";
import PedroYanez from "@assets/img/pedro-yanez.jpg";
---

<div class=`flex justify-center coin-container`>
  <div
    class="coin relative flex h-36 w-36 items-center justify-center md:h-52 md:w-52"
  >
    <div
      class=`absolute flex rounded-full grow-0 shrink-0  bg-primary/90 coin-face w-36 h-36 md:w-52 md:h-52`
    >
      <HagalRune class="m-auto h-28 w-28 text-secondary md:h-44 md:w-44" />
    </div>

    <Image
      id="pedro-yanez-photo"
      src={PedroYanez}
      alt="Pedro Yanez"
      class="coin-face back flex aspect-square shrink-0 grow-0 justify-center rounded-full object-cover"
      quality="mid"
      loading="eager"
    />
  </div>
</div>

<style>
  @keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }

  .coin-container {
    perspective: 999px;
  }

  .coin {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    animation: flip 3s ease-in-out forwards;
    animation-delay: 4s;
  }

  .coin-face {
    backface-visibility: hidden;
  }

  .back {
    transform: rotateY(180deg);
  }
</style>
