---
export const prerender = false;
---

<article>
  <!-- TODO: Impleemntar renderizado desde el servidor para la fecha en el prerender -->
  <!-- TODO: Internacionalización -->
  <!-- TODO: id en las contantes -->
  <p class="text-2xl">
    ¡Hola! Soy Pedro Yanez. Tengo aproximadamente
    <span id="experience">
      <script is:inline>
        document.addEventListener("astro:page-load", () => {
          const startTI = 1528243200;
          const now = Math.floor(Date.now() / 1000);
          const differenceInSeconds = now - startTI;
          const secondsPerYear = 31557600;
          const timeToStart = (differenceInSeconds / secondsPerYear).toFixed();
          const experienceElement = document.getElementById("experience");
          experienceElement.textContent = timeToStart;
        });
      </script>
    </span>
    años de experiencia en la industria TI. Me apasiona programar, resolver problemas
    y aprender nuevas tecnologías que me permitan crecer profesionalmente. Además
    de mis habilidades técnicas, disfruto de la práctica de artes marciales, tocar
    la guitarra, jugar ajedrez, entre otras cosas. ¡Te invito a conocer más sobre
    mí! Gracias por pasarte.
  </p>
</article>
