---
export const prerender = false;
---

<article>
  <!-- TODO: Internacionalización -->
  <!-- TODO: id en las constantes -->
  <p class="text-xl text-primary/90">
    ¡Hola! Soy un desarrollador con aproximadamente
    <span id="experienceTi"></span>
    años de experiencia en la industria TI y <span id="experienceDev"></span>
    años de trayectoria como desarrollador. Me apasiona programar, resolver problemas
    y aprender nuevas tecnologías para seguir creciendo profesionalmente. Siempre
    que puedo, disfruto enseñar a otros lo que sé. Además de mis habilidades técnicas,
    me gusta practicar artes marciales, tocar la guitarra y jugar ajedrez, entre
    otras actividades. ¡Gracias por pasarte! Te invito a conocer más sobre mí.
  </p>
</article>

<script>
  document.addEventListener("astro:page-load", () => {
    const startTI = 1528243200;
    const startProg = 1622505600;
    const secondsPerYear = 31557600;
    const now = Math.floor(Date.now() / 1000);

    const differenceInSecondsTI = now - startTI;
    const experienceTI = (differenceInSecondsTI / secondsPerYear).toFixed();

    const differenceInSecondsDev = now - startProg;
    const experienceDev = (differenceInSecondsDev / secondsPerYear).toFixed();

    (document.getElementById("experienceTi") as HTMLElement).textContent =
      experienceTI;
    (document.getElementById("experienceDev") as HTMLElement).textContent =
      experienceDev;
  });
</script>
