---

---

<article>
  <!-- TODO: Internacionalización -->
  <p class="text-balance text-xl text-primary/90">
    ¡Hola! Soy un desarrollador con trayectoria en la industria TI desde 2018 y
    dedicado a la programación profesionalmente desde 2021. Disfruto resolver
    problemas y explorar nuevas tecnologías que me ayuden a crecer tanto
    personal como profesionalmente. Además, me gusta compartir mis conocimientos
    y contribuir a la formación de otros. Fuera del mundo del código, practico
    artes marciales, toco la guitarra y juego ajedrez, actividades que también
    me ayudan a mantener el equilibrio y la disciplina. ¡Gracias por visitar
    este espacio! Te invito a descubrir más sobre mi trabajo.
  </p>
</article>
