---
export const prerender = false;
---

<article>
  <!-- TODO: Internacionalización -->
  <!-- TODO: id en las contantes -->
  <p class="text-2xl text-primary/90">
    ¡Hola! Soy un desarrollador con aproximadamente
    <span id="experience"></span>
    años de experiencia en la industria TI. Me apasiona programar, resolver problemas
    y aprender nuevas tecnologías para seguir creciendo profesionalmente. Además
    de mis habilidades técnicas, disfruto de practicar artes marciales, tocar la
    guitarra, jugar ajedrez, entre otras actividades. ¡Te invito a conocer más sobre
    mí! Gracias por pasarte.
  </p>
</article>

<script>
  document.addEventListener("astro:page-load", () => {
    const startTI = 1528243200;
    const now = Math.floor(Date.now() / 1000);
    const differenceInSeconds = now - startTI;
    const secondsPerYear = 31557600;
    const timeToStart = (differenceInSeconds / secondsPerYear).toFixed();
    const experienceElement = document.getElementById(
      "experience"
    ) as HTMLElement;
    experienceElement.textContent = timeToStart;
  });
</script>
