---
import { PEDROYANEZNAME } from "@/consts/const";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!--  -->
<meta name="Author" content=`${PEDROYANEZNAME}` />
<title>{title}</title>
<meta name="description" content=`Portafolio de ${PEDROYANEZNAME}` />
<!-- TODO: Og Metatags -->
