---

---

<div class="flex flex-col">
  <h1 class="flex flex-col text-5xl text-primary italic transform -rotate-3">
    <span>
      <span aria-hidden class="text-2xl">&lt;</span>
      Pedro
    </span>

    <span class="mt-[-0.3em]">
      Yanez
      <span aria-hidden class="text-2xl">/&gt;</span>
    </span>
  </h1>

  <!-- TODO: INternalizacion -->
  <h2 class="mx-auto mt-[-0.6em] text-primary italic transform -rotate-3">
    Developer
  </h2>
</div>
