---

---

<div class="relative flex w-max flex-col">
  <h1
    class="flex -rotate-3 transform flex-col text-3xl italic text-primary md:text-5xl"
  >
    <span>
      <span aria-hidden class="text-xl md:text-2xl">&lt;</span>
      Pedro
    </span>

    <span class="mt-[-0.3em]">
      Yanez
      <span aria-hidden class="text-xl md:text-2xl">/&gt;</span>
    </span>

    <span
      class="absolute -bottom-3 right-8 -rotate-3 transform text-sm italic text-primary"
      >Developer</span
    >
  </h1>
</div>
