---
import Layout from "@/layouts/Layout.astro";

import GithubMark from "@/assets/icons/github-mark.astro";
import Youtube from "@/assets/icons/youtube.astro";
import Linkedin from "@/assets/icons/linkedin.astro";

import SectionLayout from "@/UI/SectionLayout.astro";
import TwoColumnLayout from "@/UI/TwoColumnLayout.astro";
import PrimaryContain from "@/UI/PrimaryContain.astro";
import InfoBox from "@/UI/InfoBox.astro";

import { PEDROYANEZ } from "@/consts/const";

const title = `${PEDROYANEZ} - Contacto`; //TODO: aplicar internalización
---

<Layout title={title}>
  <SectionLayout sectionTitle="¡Será un placer conocer tus ideas!">
    <TwoColumnLayout>
      <PrimaryContain>
        <article class="text-xl">
          <p class="leading-normal">
            Si te apasiona la tecnología tanto como a mí, no dudes en explorar
            mis redes sociales para conocer más sobre mis proyectos. Ya sea que
            estés buscando colaborar en un nuevo desarrollo, necesites
            asesoramiento profesional, o simplemente quieras intercambiar ideas,
            estaré encantado de conversar contigo. Siempre estoy abierto a
            nuevas oportunidades y desafíos que me permitan seguir creciendo y
            aportando valor. ¡Hablemos y creemos algo increíble juntos!
          </p>
        </article>
      </PrimaryContain>

      <InfoBox boxTitle="Redes sociales">
        <ul class="flex flex-col gap-4 text-lg">
          <li>
            <a
              href="https://github.com/pedroelhumano"
              class="flex items-center transition-all hover:scale-105"
              target="_blank"
              rel="noopener"
            >
              <div>
                <GithubMark class="h-9 w-10" />
              </div>

              <span>/pedroelhumano</span>
            </a>
          </li>

          <li>
            <a
              href="https://www.youtube.com/channel/UCwISu2hFg7EpOIZ8aV7iS6g?sub_confirmation=1"
              class="flex items-center transition-all hover:scale-105"
              target="_blank"
              rel="noopener"
            >
              <div>
                <Youtube class="h-10 w-10" />
              </div>

              <span>/pedrothehuman</span>
            </a>
          </li>

          <li>
            <a
              href="https://www.linkedin.com/in/pedro-yanez/"
              class="flex items-center transition-all hover:scale-105"
              target="_blank"
              rel="noopener"
            >
              <div>
                <Linkedin class="h-10 w-10" />
              </div>

              <span>/in/pedro-yanez</span>
            </a>
          </li>
        </ul>
      </InfoBox>
    </TwoColumnLayout>
  </SectionLayout>
</Layout>
