---
import Layout from "@/layouts/Layout.astro";

import { PEDROYANEZ } from "@/const/const";

const title = `${PEDROYANEZ} - Contacto`; //TODO: aplicar internalización
---

<Layout title={title}>
  <h1>contacto</h1>
</Layout>
