---
import Layout from "@/layouts/Layout.astro";

import Description from "@/modules/aboutMe/description/Description.astro";
import Hero from "@/modules/aboutMe/Hero/Hero.astro";

import Counter from "@/components/Counter/Counter.vue";

import Coin from "@/assets/icons/coin.astro";

import { PEDROYANEZNAME } from "@/consts/const";

const title = `${PEDROYANEZNAME}`;
---

<Layout title={title}>
  <section class="flex flex-col gap-6">
    <Hero />

    <Description />

    <div class="flex items-center gap-1 transition hover:scale-105">
      <div class="h-6 w-6">
        <Coin />
      </div>

      <Counter
        client:visible
        transition:persist="counter"
        initialValue={0}
        transition:persist-props
      />
    </div>
  </section>
</Layout>
