---
import Layout from "@/layouts/Layout.astro";
import CircleHagalRune from "@/components/CircleHagalRune/CircleHagalRune.astro";

const title = "Pedro Yanez Portafolio";
---

<Layout title={title}>
  <main>
    <CircleHagalRune />
  </main>
</Layout>
