---
import Layout from '../layouts/Layout.astro';

const title = 'Pedro Yanez Portafolio'
---

<Layout title={title}>
	<main>
		<h1 class="text-red-950">Pedro Yanez</h1>
	</main>
</Layout>

<style>

</style>
