---
import Layout from "@/layouts/Layout.astro";
import AnimateBgCircle from "@/components/AnimateBgCircle/AnimateBgCircle.astro";

const title = "Pedro Yanez Portafolio";
---

<Layout title={title}>
  <main>
    <AnimateBgCircle />
  </main>
</Layout>
