---
import Layout from "@/layouts/Layout.astro";
import AnimateBgCircle from "@/components/AnimateBgCircle/AnimateBgCircle.astro";
import Menu from "@/modules/navbar/Menu/Menu.astro";

const title = "Pedro Yanez Portafolio";

const startTI = 1528243200;
const now = Math.floor(Date.now() / 1000);
const differenceInSeconds = now - startTI;
const secondsPerYear = 31557600;
const timeToStart = (differenceInSeconds / secondsPerYear).toFixed();
---

<Layout title={title}>
  <main class="flex flex-col gap-6">
    <div class="flex gap-6">
      <AnimateBgCircle />
      <div class="flex flex-col justify-center">
        <h1 class="text-7xl">Pedro Yanez</h1>
        <h2 class="text-4xl">Desarrollador de Software</h2>
      </div>
    </div>

    <div>
      <Menu />
    </div>

    <div class="mt-12">
      <p class="text-2xl">
        ¡Hola! Soy Pedro Yanez. Tengo aproximadamente {timeToStart} años de experiencia
        en la industria TI. Me apasiona programar, resolver problemas y aprender
        nuevas tecnologías que me permitan crecer profesionalmente. Además de mis
        habilidades técnicas, disfruto de la práctica de artes marciales, tocar la
        guitarra, jugar ajedrez, entre otras cosas. ¡Te invito a conocer más sobre
        mí! Gracias por pasarte.
      </p>
    </div>
  </main>
</Layout>
