---
import Layout from "@/layouts/Layout.astro";
import Description from "@/modules/aboutMe/description/Description.astro";
import Hero from "@/modules/aboutMe/Hero/Hero.astro";

import { PEDROYANEZ } from "@/const";

const title = `${PEDROYANEZ}`;
---

<Layout title={title}>
  <div class="flex flex-col gap-6">
    <Hero />
    <Description />
  </div>
</Layout>
