---
import Layout from "@/layouts/Layout.astro";

import SectionLayout from "@/UI/SectionLayout.astro";
import TwoColumnLayout from "@/UI/TwoColumnLayout.astro";
import PrimaryContain from "@/UI/PrimaryContain.astro";
import InfoBox from "@/UI/InfoBox.astro";

import { PEDROYANEZ } from "@/consts/const";
import ProjectList from "@/modules/projects/ProjectList/ProjectList.astro";

const title = `${PEDROYANEZ} - Proyectos`; //TODO: aplicar internalización
---

<Layout title={title}>
  <SectionLayout sectionTitle="Proyectos">
    <TwoColumnLayout>
      <PrimaryContain>
        <ProjectList />
      </PrimaryContain>

      <InfoBox boxTitle="Github data">
        <p>Aqui van datos de github, deben construirse con un fetch igual</p>
      </InfoBox>
    </TwoColumnLayout>
  </SectionLayout>
</Layout>
