---
import AnimateCircle from "@/modules/heroSection/AnimateCircle/AnimateCircle.astro";
---

<section class=`flex flex-col gap-6`>
  <div class="flex gap-6">
    <AnimateCircle />
    <div class="flex flex-col justify-center">
      <h1 class="text-7xl capitalize text-primary/85">Pedro Yanez</h1>
      <h2 class="text-4xl text-primary/85">Desarrollador de Software</h2>
    </div>
  </div>
</section>
