---
import Menu from "@/modules/navbar/Menu/Menu.astro";
import AnimateBgCircle from "@/modules/heroSection/AnimateBgCircle/AnimateBgCircle.astro";
import Description from "@/modules/aboutme/description/Description.astro";
---

<section class="flex flex-col gap-6">
  <div class="flex gap-6">
    <AnimateBgCircle />
    <div class="flex flex-col justify-center">
      <h1 class="text-7xl capitalize">Pedro Yanez</h1>
      <h2 class="text-4xl">Desarrollador de Software</h2>
    </div>
  </div>
</section>

<div>
  <Menu />
</div>
