---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<meta name="Author" content="Pedro Yanez" />
<title>{title}</title>
<meta name="description" content="Portafolio de Pedro Yanez @pedroelhumano" />
<!-- TODO: Og Metatags -->
