---
import ThemeIcon from "@/assets/icons/theme.astro";
---

<!--TODO: CAmbiar este ID -->
<button
  id="themeToggle"
  class="absolute bottom-16 right-16 hover:scale-125 hover:opacity-70 transition inline-block size-12 text-primary/80"
>
  <ThemeIcon />
  <!-- TODO: Esto es para los screenreaders, aquí debemos mover esto a una internalizacionación -->
  <span class="sr-only">Toggle theme</span>
</button>

<script is:inline>
  const getThemePreference = () => {
    return (
      localStorage.getItem("theme") ||
      (window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light")
    );
  };

  const applyTheme = (theme) => {
    document.documentElement.classList.toggle("dark", theme === "dark");
  };

  const handleToggleClick = () => {
    const isDark = document.documentElement.classList.toggle("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  const initializeTheme = () => {
    const theme = getThemePreference();
    applyTheme(theme);
  };

  document
    .getElementById("themeToggle")
    .addEventListener("click", handleToggleClick);
  initializeTheme();
</script>
