---
import HagalRune from "@/components/HagalRune/HagalRune.astro";
---

<div
  class="rounded-full grow-0 shrink-0 bg-slate-100 flex justify-center items-center w-44 h-44"
>
  <HagalRune class="text-black w-32 h-32" />
</div>
