---
import ButtonMenu from "@/modules/navbar/ButtonMenu/ButtonMenu.astro";
---

<nav class=`mx-auto mb-16`>
  <ul class="w-full flex justify-between gap-4">
    <ButtonMenu linkTo="/" text="Sobre mi" />
    <ButtonMenu linkTo="/projects" text="Proyectos" />
    <ButtonMenu linkTo="/videos" text="Videos" />
    <ButtonMenu linkTo="/contact" text="Contacto" />
  </ul>
</nav>
