---
import ButtonMenu from "@/modules/navbar/ButtonMenu/ButtonMenu.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<nav class=`mx-auto ${className}`>
  <ul class="w-full flex justify-between gap-4">
    <ButtonMenu linkTo="/" text="Sobre mi" />
    <ButtonMenu linkTo="/projects" text="Proyectos" />
    <ButtonMenu linkTo="/videos" text="Videos" />
    <ButtonMenu linkTo="/contact" text="Contacto" />
  </ul>
</nav>
