---
import ButtonMenu from "@/modules/navbar/ButtonMenu/ButtonMenu.astro";
import { menuList } from "@/consts/menuList";
import Logo from "../Logo/Logo.astro";
import HamburgerMenu from "@/assets/icons/hamburgerMenu.astro";
import ThemeToggle from "@/components/ThemeToggle/ThemeToggle.astro";
---

<nav
  class="relative w-full flex flex-row justify-between
    md:flex-col md:justify-normal md:gap-6 md:h-full"
>
  <Logo />

  <div
    class="flex items-center gap-10
          md:flex-col-reverse md:justify-between md:gap-0 md:h-full"
  >
    <ThemeToggle />

    <div class="flex w-full flex-wrap relative items-center">
      <!-- TODO: modificar ID a constante, lo ismo para los aria-controls -->
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        aria-controls="navbar-default"
        aria-expanded="false"
        id="menu-toggle"
        class="p-2 w-14 h-14 rounded-lg
      text-primary/70
      hover:bg-primary/5
      focus:outline-none focus:ring-2 focus:ring-primary/20
      dark:text-primary/70 dark:hover:bg-primary/25 dark:focus:ring-primary/70
      md:hidden md:rounded-none"
      >
        <!-- TODO: internalizacion -->
        <span class="sr-only">Open main menu</span>
        <HamburgerMenu />
      </button>

      <!-- TODO: ID -->
      <div
        class="hidden absolute top-1/4 right-16 z-50
        md:static md:top-0 md:right-0 md:block md:w-full"
        id="navbar-default"
      >
        <ul
          class="flex flex-col justify-between p-4 gap-1 shadow-lg rounded-lg w-64 bg-primary/20
            md:p-0 md:bg-inherit md:rounded-none md:shadow-none md:gap-2 md:w-full"
        >
          {
            menuList
              .sort((a, b) => a.order - b.order)
              .map((item) => (
                <li>
                  <ButtonMenu linkTo={item.link} text={item.title} />
                </li>
              ))
          }
        </ul>
      </div>
    </div>
  </div>

  <!-- TODO: Internalizacion -->
  <footer class="hidden md:mb-4 md:block">
    <h6 class="text-primary/80 text-xs">
      <!--TODO: internacionalización -->
      <strong>
        Made with <span class="sr-only">Amor</span>
        <span aria-hidden="true">❤️</span> by Pedro Yanez
      </strong>
    </h6>

    <h6 class="text-primary/80 text-xs">
      ®Casi todos los derechos reservados...
    </h6>
  </footer>
</nav>

<script>
  const applyMenuToggle = () => {
    const toggleButton = document.getElementById("menu-toggle");
    const navbar = document.getElementById("navbar-default");

    if (toggleButton && navbar) {
      navbar.classList.add("hidden");

      toggleButton.removeEventListener("click", handleToggle);
      toggleButton.addEventListener("click", handleToggle);
    }
  };

  const handleToggle = () => {
    const navbar = document.getElementById("navbar-default");
    navbar?.classList.toggle("hidden");
  };

  applyMenuToggle();

  document.addEventListener("astro:after-swap", applyMenuToggle);
</script>
