---
import ButtonMenu from "@/modules/navbar/ButtonMenu/ButtonMenu.astro";
---

<nav>
  <ul class="flex flex-col justify-between gap-4">
    <ButtonMenu linkTo="/" text="Sobre mi" />
    <ButtonMenu linkTo="/projects" text="Proyectos" />
    <ButtonMenu linkTo="/contact" text="Contacto" />
  </ul>
</nav>
