---
import ButtonMenu from "@/modules/navbar/ButtonMenu/ButtonMenu.astro";
import { menuList } from "@/consts/menuList";
import Logo from "../Logo/Logo.astro";
import HamburgerMenu from "@/assets/icons/hamburgerMenu.astro";
import ThemeToggle from "@/components/ThemeToggle/ThemeToggle.astro";
---

<nav
  class="relative flex w-full flex-row justify-between md:h-full md:flex-col md:justify-normal md:gap-6"
>
  <Logo />

  <div
    class="flex items-center gap-10 md:h-full md:flex-col-reverse md:justify-between md:gap-0"
  >
    <ThemeToggle />

    <div class="relative flex w-full flex-wrap items-center">
      <!-- TODO: modificar ID a constante, lo ismo para los aria-controls -->
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        aria-controls="navbar-default"
        aria-expanded="false"
        id="menu-toggle"
        class="h-14 w-14 rounded-lg p-2 text-primary/70 hover:bg-primary/5 focus:outline-none focus:ring-2 focus:ring-primary/20 dark:text-primary/70 dark:hover:bg-primary/25 dark:focus:ring-primary/70 md:hidden md:rounded-none"
      >
        <!-- TODO: internalizacion -->
        <span class="sr-only">Open main menu</span>
        <HamburgerMenu />
      </button>

      <!-- TODO: ID -->
      <div
        class="absolute right-16 top-1/4 z-50 hidden md:static md:right-0 md:top-0 md:block md:w-full"
        id="navbar-default"
      >
        <ul
          class="flex w-64 flex-col justify-between gap-1 rounded-lg bg-primary/20 p-4 shadow-lg md:w-full md:gap-2 md:rounded-none md:bg-inherit md:p-0 md:shadow-none"
        >
          {
            menuList
              .sort((a, b) => a.order - b.order)
              .map((item) => (
                <li>
                  <ButtonMenu linkTo={item.link} text={item.title} />
                </li>
              ))
          }
        </ul>
      </div>
    </div>
  </div>

  <!-- TODO: Internalizacion -->
  <footer class="hidden md:mb-4 md:block">
    <h6 class="text-xs text-primary/80">
      <!--TODO: internacionalización -->
      <strong>
        Made with <span class="sr-only">Amor</span>
        <span aria-hidden="true">❤️</span> by Pedro Yanez
      </strong>
    </h6>

    <h6 class="text-xs text-primary/80">
      ®Casi todos los derechos reservados...
    </h6>
  </footer>
</nav>

<script>
  const applyMenuToggle = () => {
    const toggleButton = document.getElementById("menu-toggle");
    const navbar = document.getElementById("navbar-default");

    if (toggleButton && navbar) {
      navbar.classList.add("hidden");

      toggleButton.removeEventListener("click", handleToggle);
      toggleButton.addEventListener("click", handleToggle);
    }
  };

  const handleToggle = () => {
    const navbar = document.getElementById("navbar-default");
    navbar?.classList.toggle("hidden");
  };

  applyMenuToggle();

  document.addEventListener("astro:after-swap", applyMenuToggle);
</script>
