---
import ButtonMenu from "@/modules/navbar/ButtonMenu/ButtonMenu.astro";
import { menuList } from "@/consts/menuList";
---

<nav>
  <ul class="flex flex-col justify-between gap-4">
    {
      menuList
        .sort((a, b) => a.order - b.order)
        .map((menuList) => (
          <ButtonMenu linkTo={menuList.link} text={menuList.title} />
        ))
    }
  </ul>
</nav>
