---
interface Props {
  text: string;
  linkTo?: string;
  className?: string;
}

const { text, linkTo, className } = Astro.props;
---

<li
  class={`w-full h-full flex relative m-auto p-8 cursor-pointer text-slate-100 transition-all hover:scale-105 ${className}`}
>
  <a href={linkTo}>
    <div class="absolute bg-secondary w-full h-full skew-x-12"></div>
    <span class="ml-6 mt-4 absolute text-2xl">{text}</span>
  </a>
</li>
