---
interface Props {
  text: string;
  linkTo: string;
}

const { text, linkTo } = Astro.props;
const currentPath = Astro.url.pathname;
---

<li
  class={"flex cursor-pointer bg-primary/90 p-2 skew-x-6 transition-all hover:scale-105 hover:bg-primary/95"}
>
  <a class="w-full" href={linkTo}>
    <span class={"text-base text-secondary"}
      >{text}
      {
        currentPath === linkTo && (
          <span
            transition:name="menu-line"
            class="block border-b-2 border-secondary/40"
          />
        )
      }
    </span>
  </a>
</li>
