---
interface Props {
  text: string;
  linkTo: string;
}

const { text, linkTo } = Astro.props;
const currentPath = Astro.url.pathname;
---

<li
  class="text-base text-secondary text-center flex cursor-pointer md:text-left md:transition-all md:hover:scale-105"
>
  <a
    class="w-full p-2 skew-x-6 bg-primary/75 hover:bg-primary/95"
    href={linkTo}
  >
    <span class="">
      {text}
      {
        currentPath === linkTo && (
          <span
            transition:name="menu-line"
            class="block border-b-2 border-secondary/40"
          />
        )
      }
    </span>
  </a>
</li>
