---
interface Props {
  text: string;
  linkTo: string;
}

const { text, linkTo } = Astro.props;
const currentPath = Astro.url.pathname;
---

<li
  class={"w-full h-full flex relative m-auto p-8 cursor-pointer text-primary transition-all hover:scale-105"}
>
  <a href={linkTo}>
    <div class="absolute bg-secondary w-full h-full skew-x-12"></div>
    <span class={"ml-6 mt-4 absolute text-2xl"}
      >{text}

      {
        currentPath === linkTo && (
          <span
            transition:name="menu-line"
            class="block border-b-2 px-16 border-primary/40"
          />
        )
      }
    </span>
  </a>
</li>
