---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/jost";

import Menu from "@/modules/navbar/Menu/Menu.astro";
import Seo from "@/components/Seo/Seo.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> averiguar que es esto -->
    <!-- TODO: verificar si SEO debe estar aquí enviarlo a otro componente que use el layouut -->
    <Seo title={title} />
    <ViewTransitions />
  </head>
  <body class="bg-secondary flex flex-col md:flex-row">
    <!--
     `    ``               `
      ``  _ `      `       ``
     `   |_| `  `` ``    `  `
    ``  -___-_` `   ` --------------
  ``   /      )      | This is fine |`
 `____/| (0) (0)_()  |/-------------  `
/|   | |   ^____)      ``      ``
||   |_|    \_//     Uɔ````   `` ``
||    || |    |    ========`  ``  ``
||    || |    |      ||     ``   `
||     \\_\   |\     ||   ```    `
=========||====||    ||  ``       `
  || ||   \Ɔ || \Ɔ   ||   ``    ``
  || ||      ||      ||  `     ``
    -->

    <!-- TODO: cambiar md:min-w-32 por max -->
    <section
      class="flex
    flex-col
    border-b-2
    justify-between
    p-8
    md:min-h-screen md:h-screen md:max-w-56 md:w-full
    md:pt-4 md:pl-4 md:pr-4 md:pb-0
    md:border-b-0 md:border-r-2"
    >
      <Menu />
    </section>

    <main
      class="flex flex-col max-w-screen-lg mt-10 md:mt-20 mx-auto w-full px-4 sm:px-6 lg:px-8"
    >
      <slot />
    </main>

    <!-- TODO: Internalizacion -->
    <footer>
      <div class="absolute bottom-2 left-2">
        <h6 class="text-primary/80 text-xs">
          <!-- TODO: Agregar esto al corazon <span class="sr-only">Amor</span> -->
          <strong>Made with ❤️ by Pedro Yanez</strong>
        </h6>

        <h6 class="text-primary/80 text-xs">
          Casi todos los derechos reservados...
        </h6>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    --color-primary: 5, 20, 35;
    --color-secondary: 255, 250, 247;
    --background-color: --color-primary;
  }

  .dark {
    --color-primary: 255, 250, 247;
    --color-secondary: 5, 20, 35;
  }

  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    color: rgb(255, 36, 65);
  }
</style>
