---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/jost";

import SwitchTheme from "@/modules/theme/SwitchTheme/SwitchTheme.astro";
import Seo from "@/modules/seo/Seo.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> averiguar que es esto -->
    <!-- TODO: verificar si SEO debe estar aquí enviarlo a otro componente que use el layouut -->
    <Seo title={title} />
    <ViewTransitions />
  </head>
  <body class="bg-background text-slate-200">
    <div class="max-w-6xl mx-auto mt-40">
      <slot />
    </div>

    <SwitchTheme />
  </body>
</html>
<style is:global>
  html {
    font-family: "Jost Variable", system-ui, sans-serif;
  }
</style>
