---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/jost";

import ThemeToggle from "@/modules/theme/ThemeToggle/ThemeToggle.astro";
import Seo from "@/modules/seo/Seo.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> averiguar que es esto -->
    <!-- TODO: verificar si SEO debe estar aquí enviarlo a otro componente que use el layouut -->
    <Seo title={title} />
    <ViewTransitions />
  </head>
  <body class="bg-secondary text-slate-200">
    <!--
     `    ``               `
      ``  _ `      `       ``
     `   |_| `  `` ``    `  `
    ``  -___-_` `   ` --------------
  ``   /      )      | This is fine |`
 `____/| (0) (0)_()  |/-------------  `
/|   | |   ^____)      ``      ``
||   |_|    \_//     Uɔ````   `` ``
||    || |    |    ========`  ``  ``
||    || |    |      ||     ``   `
||     \\_\   |\     ||   ```    `
=========||====||    ||  ``       `
  || ||   \Ɔ || \Ɔ   ||   ``    ``
  || ||      ||      ||  `     ``
    -->
    <div class="max-w-6xl mx-auto mt-40">
      <slot />
    </div>

    <ThemeToggle />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: 5, 20, 35; /*#000A23*/
    --color-secondary: 255, 250, 247; /*FFFAF7*/
    --background-color: --color-primary;
  }

  .dark {
    --color-primary: 255, 250, 247;
    --color-secondary: 5, 20, 35;
  }

  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    color: rgb(255, 36, 65);
  }
</style>
