---
import HagalRune from "@/modules/heroSection/HagalRune/HagalRune.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class=`coin-container ${className}`>
  <div
    class="relative flex justify-center items-center w-52 h-52 coin"
    role="img"
  >
    <!-- TODO: Recordar cambiar el bg-backgroundWhite cuando existan temas. -->
    <div
      class="rounded-full grow-0 shrink-0 absolute w-52 h-52 bg-backgroundWhite coin-face"
      role="img"
    >
    </div>

    <HagalRune
      class="absolute justify-center text-hagalRune w-44 h-44 coin-face"
    />

    <img
      id="pedro-yanez-photo"
      src="/pedro-yanez.jpg"
      alt="Pedro Yanez"
      class="rounded-full grow-0 shrink-0 flex justify-center coin-face back"
    />
  </div>
</div>

<style>
  @keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }

  .coin-container {
    perspective: 1000px;
  }

  .coin {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    animation: flip 3s ease-in-out forwards;
    animation-delay: 4s;
  }

  .coin-face {
    backface-visibility: hidden;
  }

  .back {
    transform: rotateY(180deg);
  }
</style>
